@use "../abstracts" as *;

.btn-wrapper {
  @include flex();
  min-height: 8rem; // 為了防止按鈕在切換的同時改變高度
  margin-top: 1rem;
  overflow: hidden;
  padding: 0.25rem 0.1875rem;
  border: 2px solid map-get($components-color, "btn-wrapper");
  box-shadow: inset 0 0 0 1px white;
  background-color: map-get($components-color, "btn-wrapper");
}

.btn {
  $btn-total-height: 7.263rem;
  $btn-side-height: 1.5625rem;
  $translate-amount: 0.625rem;

  @include flex($ai: flex-end);
  width: 100%;
  height: $btn-total-height;
  border: 1px solid map-get($components-color, "btn-wrapper");
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  border-radius: 2px;

  &,
  &::before {
    transition: all 45ms ease-in-out;
  }

  &::before {
    content: "";
    width: 100%;
    height: $btn-side-height;
    border: 2px solid;
    border-bottom-width: 1px;
    border-inline: 0;
    border-radius: 2px 2px 0 0;
  }

  &--white {
    background-color: map-get($map: $components-color, $key: "btn-white-front");

    &::before {
      border-top-color: map-get($map: $components-color, $key: "btn-white-corner-light");
      border-bottom-color: map-get($map: $components-color, $key: "btn-white-corner-dark");
      background-color: map-get($map: $components-color, $key: "btn-white-side");
    }
  }

  &--orange {
    background-color: map-get($map: $components-color, $key: "btn-orange-front");

    &::before {
      border-top-color: map-get($map: $components-color, $key: "btn-orange-corner-light");
      border-bottom-color: map-get($map: $components-color, $key: "btn-orange-corner-dark");
      background-color: map-get($map: $components-color, $key: "btn-orange-side");
    }
  }

  // ----------------------- 按鈕狀態 -----------------------

  &--mousedown {
    height: $btn-total-height - .3125rem;

    transform: translateY(5px);

    &::before {
      height: 0;
    }
  }

  &--mouseup {
    height: $btn-total-height - .1875rem;
    transform: translateY(3px);

    &::before {
      height: 5px;
    }
  }

  // &:disabled {
  //   // 此處寫下佈局相關的屬性，按鈕起伏的幅度是相同的
  //   height: $btn-total-height - $translate-amount;

  //   transform: translateY($translate-amount);

  //   &::before {
  //     height: 0.375rem;
  //   }
  // }

  // &--white:disabled {
  //   &::before {
  //     background-color: map-get($map: $components-color, $key: "btn-white-side-pressed");
  //   }
  // }

  // &--orange:disabled {
  //   background-color: map-get($map: $components-color, $key: "btn-orange-front-pressed");
  // }
}
