@use "../abstracts" as *;

.modal-overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  z-index: 10;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  transition-property: opacity, visibility;
  transition-duration: 500ms;

  &--active {
    opacity: 1;
    visibility: visible;

    .setting-modal {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.setting-modal {
  visibility: hidden;
  opacity: 0;

  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);

  width: 100%;
  max-width: 22.1875rem;
  // max-width: 20.3125rem;

  padding: 2rem 3rem;
  margin: 0 auto;

  color: map-get($components-color, "screen-dark");
  background-color: map-get($modal-color, "background");
  font-family: $primary-font;

  transition-property: visibility, opacity;
  transition: 500ms ease-in-out;

  &__form {
    width: 100%;
    @include flex();
  }

  &__label {
    @include flex($dir: column, $ai: center);
    max-width: 50%;

    > span {
      font-size: 1.5rem;
    }
  }

  &__input {
    margin-top: 1rem;
    max-width: 100%;
    text-align: center;
    font-family: $primary-font;
    font-size: $time-font-size;
    border: none;
    color: map-get($components-color, "screen-dark");
    background-color: transparent;
  }

  &__btn-wrapper {
    @include flex($jc: center);
    margin-top: 1rem;
  }

  &__btn {
    @include flex($ai: center, $jc: center);
    color: map-get($components-color, "screen-dark");
    border: 0;
    font-size: 1.75rem;
    background-color: transparent;
    transform-origin: center;
    transition: transform ease-in-out 100ms;
    cursor: pointer;

    @include hover-query() {
      &:hover {
        transform: scale(1.5);
        // background-color: map-get($modal-color, "btn-hover-bg");
        // color: map-get($modal-color, "btn-hover-text");
      }
    }

    > i {
      pointer-events: none;
    }
  }

  &__ok-btn {
    margin-left: 3rem;
  }

  &__cancel-btn {
  }
}
