@use "../abstracts" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    @include flex($ai: center, $jc: center);
    height: 100vh;
    // font-family: "Noto Sans TC", sans-serif;
    background-color: $primary-background-color;
}

body.no-transition * {
    transition-duration: 0s !important;
}
