@use "../abstracts" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    @extend %flex-center;
    height: 100vh;
    font-family: "Noto Sans TC", sans-serif;
    background-color: $primary-background-color;
}

body.no-transition * {
    transition-duration: 0s !important;
}

.container {
    padding: 0 12px;
    margin: 0 auto;
    width: 100%;
    max-width: 21.875rem;
}
