@use "variable" as *;

$components-color: (
  "timer-middle": $white-dark,

  "btn-white-front": #ffffff,
  "btn-white-corner-light": #cccccc,
  "btn-white-corner-dark": #4d4d4d,
  "btn-white-front-pressed": #f2f2f2,
  "btn-white-side": $white-darker,
  "btn-white-side-pressed": $white-darkest,

  "btn-orange-front": $orange-base,
  "btn-orange-corner-light": $orange-corner-ligtht,
  "btn-orange-corner-dark": $orange-corner-dark,
  "btn-orange-front-pressed": $orange-dark,
  "btn-orange-side": $orange-darker,
  "btn-orange-side-pressed": $orange-darkest,

  "screen-base": $green-base,
  "screen-dark": $green-dark,
  "screen-outer": $gray-deep,

  "hole": $gray-deep,

  "btn-wrapper": $gray-deep,
  "timer-bottom": #2d2d2d,

  "light-stop": $red-dark,
  "light-start": $red-base,
  "light-pause": $orange-normal,
);

$modal-color: (
  "background": $green-base,
  "text-color": $green-dark,
  "btn-border": $green-dark,
  "btn-hover-bg": $green-dark,
  "btn-hover-text": $green-base,
);

$font-size: (
  // screen
  time-default: $time-font-size,
  times-up: $times-up-font-size
);

// text
$text: (
  size: (
    xs: 0.75rem,
    sm: 0.875rem,
    base: 1rem,
    lg: 1.125rem,
    xl: 1.25rem,
    2xl: 1.5rem,
    3xl: 1.875rem,
    4xl: 2.25rem,
    5xl: 3rem,
    6xl: 3.75rem,
    7xl: 4.5rem,
  ),
);
