@mixin flex($dir: row, $jc: flex-start, $ai: stretch){
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

// 檢查裝置是否支援hover，若有支援才執行此
@mixin hover-query() {
  @media (hover: hover) {
    @content;
  }
}